*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#f1f5f9;
padding:20px;
transition:0.3s;
}

body.dark{
background:#0f172a;
color:white;
}

.app{
max-width:1000px;
margin:auto;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:20px;
}

.grid,.top-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:20px;
margin:20px 0;
}

.card{
background:white;
padding:20px;
border-radius:15px;
box-shadow:0 10px 20px rgba(0,0,0,0.08);
}

body.dark .card{
background:#1e293b;
}

form{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:10px;
}

input,select,button{
padding:12px;
border-radius:10px;
border:1px solid #ccc;
}

button{
background:#2563eb;
color:white;
border:none;
cursor:pointer;
}

ul{
list-style:none;
max-height:350px;
overflow:auto;
padding:0;
}

li{
display:flex;
justify-content:space-between;
padding:10px;
margin:8px 0;
border-radius:8px;
background:#e2e8f0;
}

body.dark li{
background:#334155;
}

@media(max-width:768px){
.grid,.top-grid{
grid-template-columns:1fr;
}
}